.sf-select__dropdown {
    --select-height: 50px !important;
}
.sf-button.color-primary:active{
    --button-background: #01a4b7;
    text-decoration: none;
}
.get-touch-button {
    padding: 20px;
    border-radius: 4px;
    text-transform: unset;
    background-color: #01a4b7;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-right: 20px;
    transition: transform 0.2s;

    &:hover {
      background-color: #007e91;
      transform: scale(1.1);
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }